.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal-content {
    background: white;
    padding: 20px;
    border-radius: 12px;
    width: 100%;
    max-width: 400px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
}

.task-description {
    justify-content: center;
    resize: none;
}

.task-description:focus {
    /* border: solid; */
    box-shadow: 0 0px 30px rgba(0, 0, 0, 0.1) inset;
    /* inset: 0 10px 30px rgba(0, 0, 0, 0.3); */
}

.task-name:focus {
    box-shadow: 0 0px 30px rgba(0, 0, 0, 0.1) inset;
}

.task-status-selector {
    background: white;
    border: 1px solid #ddd;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.modal-content h3 {
    margin-top: 0;
    color: #333;
}

.modal-content label {
    display: block;
    margin: 12px 0 6px;
    font-size: 14px;
    color: #555;
}

.modal-content input,
.modal-content textarea,
.modal-content select {
    width: 95%;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 6px;
    font-size: 14px;
}

.modal-actions {
    display: flex;
    gap: 10px;
    justify-content: flex-end;
    margin-top: 20px;
}

.btn-cancel,
.btn-submit {
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 14px;
}

.btn-cancel {
    background: #eee;
    color: #333;
}

.btn-cancel:hover {
    background: #ddd;
}

.btn-submit {
    background: #469efc;
    color: white;
}

.btn-submit:hover {
    background: #233aa0;
}